In [1]:
import pandas as pd

In [3]:
df_1 = pd.read_csv('train_data/data_manual_from_googlenews.csv')
df_2 = pd.read_csv('train_data/data_sample.csv')
df_3 = pd.read_csv('train_data/googlenews_top_monthly_2019_45cities_text_8.csv')

In [26]:
df_1 = df_1.loc[:,['url','city','title','text']]
df_1 ['dataset'] = 'manual_google'

In [27]:
df_2 = df_2.loc[:,['url','title','text','top_city']].rename(columns = {'top_city':'city'},errors="raise")
df_2 ['dataset'] = 'sample'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [28]:
df_3 = df_3.loc[:,['url', 'title','text','city']]
df_3 ['dataset'] = 'auto_google'

In [32]:
df = pd.concat([df_1,df_2,df_3])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [36]:
df = df.reset_index(drop=True)

In [37]:
df

,city,dataset,text,title,url
0,New York,manual_google,New York City’s progress fighting the coronavi...,"NYC is now the worst place to do business, ret...",https://nypost.com/2020/07/21/nyc-is-now-the-w...
1,New York,manual_google,article\n\nWho says you can't have fun while s...,Floating cinema equipped with social distancin...,https://www.fox5ny.com/news/floating-cinema-eq...
2,New York,manual_google,"New York’s Legislature is meeting virtually, f...","Opinion | New Yorkers, Voting Could Get Much E...",https://www.nytimes.com/2020/07/21/opinion/new...
3,New York,manual_google,ALBANY — Democratic state lawmakers are consid...,NY bill would rollback COVID-19 liability prot...,https://nypost.com/2020/07/21/ny-bill-would-ro...
4,New York,manual_google,NEW YORK (AP) — New York City will spend up to...,New York City will cover illegal immigrants as...,https://www.marketwatch.com/story/new-york-cit...
...,...,...,...,...,...
8698,Louisville,auto_google,Louisville basketball puts on show for late-ni...,"Louisville basketball beats Pittsburgh, unbeat...",https://www.courier-journal.com/story/sports/c...
8699,Louisville,auto_google,Menâs college basketball has had no dominant...,Louisville and Ohio State Start to Rise Above ...,https://www.nytimes.com/2019/12/09/sports/ncaa...
8700,Louisville,auto_google,Gonzaga remains atop The Associated Press men'...,Kentucky climbs in Top 25 poll after beating L...,https://www.wkyt.com/content/news/Kentucky-cli...
8701,Louisville,auto_google,Louisville basketball is set to be No. 1 in th...,Louisville basketball rank should be No. 1 in ...,https://www.courier-journal.com/story/sports/c...
8702,Louisville,auto_google,"Rick Pitino settles with Adidas, company he al...","Ex-Louisville coach Rick Pitino, Adidas reach ...",https://www.courier-journal.com/story/sports/c...